*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color5);
}

#root {
  width: 100%;
  height: 100dvh;
  font-family: JetBrains Mono;
  display: flex;
  align-items: start;
  justify-content: center;
}