::selection{
    background-color: gray;
}

.dataItems::-webkit-scrollbar, .infoData::-webkit-scrollbar, .deleteAllData::-webkit-scrollbar {
  width: 4px;
  transition: .4s ease-in-out;
}
.dataItems::-webkit-scrollbar-track, .infoData::-webkit-scrollbar-track, .deleteAllData::-webkit-scrollbar-track {
  background-color: transparent;
  transition: .4s ease-in-out;
}
.dataItems::-webkit-scrollbar-thumb, .infoData::-webkit-scrollbar-thumb, .deleteAllData::-webkit-scrollbar-thumb {
  background-color: var(--color7); 
  transition: .4s ease-in-out;
  cursor: pointer;
}

.wrapper{
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
  z-index: 1;
  transition: all 0.1s ease-in-out;
  padding-bottom: 2em;
  animation: wrapperLoad 0.5s ease-in-out;
}
@keyframes wrapperLoad {
  0%{
    filter: blur(10px);
  }
  100%{
    filter: blur(0);
  }
}

.main{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.topBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5em;
  color: var(--color4);
  gap: 1em;
}
.topBarBtns{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 2.5em;
}
input{
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 0.85em;
  font-family: JetBrains Mono;
  background-color: var(--color8);
  color: var(--color4);
  outline: none;
  border: none;
}
.loginInput input, .resetData input{
  background-color: var(--color8);
}
.sortBtns{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 3em;
}

.itemData, .itemDataPDF{
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1em;
  overflow: hidden;
}
.dataItems{
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--color6);
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--color4);
}
.pdfContent{
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 800px;
  padding: 40px;
  font-family: JetBrains Mono;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  background-color: var(--color5);
  border: 1px solid var(--color6);
  color: var(--color4);
  height: max-content;
  z-index: 99;
}
.itemNamePDF{
  max-width: 400px;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  display: block; 
}
.divider{
  display: none;
  border: 1px solid var(--color6);
  width: 100%;
}
.noData{
  position: absolute;
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color4);
  margin: 1em;
}
.item, .itemPDF{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1em;
}

.dataBtns, .dataBtnsPDF{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  gap: 1em;
}
.itemDataPDF{
  width: 80%;
}
.dataBtnsPDF{
  width: 20%;
  overflow: hidden;
}
.itemDate, .itemDatePDF{
  opacity: 0.5;
}


/* MODAL */

.modalOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.25);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  flex-direction: column;
  width: 450px;
  background-color: var(--color3);
  color: var(--color4);
  padding: 2em 2.5em 2.5em 2.5em;
  margin: 1em;
  opacity: 0;
}
.menuWrapper{
  position: relative;
}

.corner1,
.corner2,
.corner3,
.corner4 {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: transparent;
  transform: rotateY(180deg);
  z-index: 4;
  opacity: 0;
}
.corner1 {
  margin: 0.5em 0 0 0.5em;
  border-top: 2px solid var(--color4);
  border-left: 2px solid var(--color4);
  transform: rotateZ(180deg);
  animation: 0.35s openCorner1 ease forwards;
}
.corner2 {
  margin: 0.5em 0.5em 0 0;
  border-top: 2px solid var(--color4);
  border-right: 2px solid var(--color4);
  transform: rotateZ(180deg);
  animation: 0.35s openCorner2 ease forwards;
}
.corner3 {
  margin: 0 0 0.5em 0.5em;
  border-bottom: 2px solid var(--color4);
  border-left: 2px solid var(--color4);
  transform: rotateZ(180deg);
  animation: 0.35s openCorner3 ease forwards;
}
.corner4 {
  margin: 0 0.5em 0.5em 0;
  border-bottom: 2px solid var(--color4);
  border-right: 2px solid var(--color4);
  transform: rotateZ(180deg);
  animation: 0.35s openCorner4 ease forwards;
}

@keyframes openCorner1 {
  20% {
    transform: rotateY(180deg) rotateZ(0);
  }
  50% {
    top: 0;
    left: 50%;
  }
  51% {
    transform: rotateY(0deg);
  }
  100% {
    top: 0;
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes openCorner2 {
  20% {
    transform: rotateY(180deg) rotateZ(0);
  }
  50% {
    top: 0;
    right: 50%;
  }
  51% {
    transform: rotateY(0deg);
  }
  100% {
    top: 0;
    right: 0;
    transform: rotateY(0deg);
  }
}
@keyframes openCorner3 {
  20% {
    transform: rotateY(180deg) rotateZ(0);
  }
  50% {
    bottom: 0;
    left: 50%;
  }
  51% {
    transform: rotateY(0deg);
  }
  100% {
    bottom: 0;
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes openCorner4 {
  20% {
    transform: rotateY(180deg) rotateZ(0);
  }
  50% {
    bottom: 0;
    right: 50%;
  }
  51% {
    transform: rotateY(0deg);
  }
  100% {
    bottom: 0;
    right: 0;
    transform: rotateY(0deg);
  }
}
@keyframes closeCorner1 {
  0% {
    top: 0;
    left: 0;
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    top: 0;
    left: 50%;
    transform: rotateY(180deg) rotateZ(0);
  }
  50.5% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89.5% {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  90% {
    left: 50%;
    top: 50%;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  95% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
}
@keyframes closeCorner2 {
  0% {
    top: 0;
    right: 0;
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    top: 0;
    right: 50%;
    transform: rotateY(180deg) rotateZ(0);
  }
  50.5% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89.5% {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  90% {
    right: 50%;
    top: 50%;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  95% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
}
@keyframes closeCorner3 {
  0% {
    bottom: 0;
    left: 0;
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    bottom: 0;
    left: 50%;
    transform: rotateY(180deg) rotateZ(0);
  }
  50.5% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89.5% {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  90% {
    left: 50%;
    bottom: 50%;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  95% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
}
@keyframes closeCorner4 {
  0% {
    bottom: 0;
    right: 0;
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    bottom: 0;
    right: 50%;
    transform: rotateY(180deg) rotateZ(0);
  }
  50.5% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  89.5% {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  90% {
    right: 50%;
    bottom: 50%;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  95% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(180deg);
  }
}

.deleteData{
  padding: 1em;
  background-color: var(--color7);
  width: 100%;
  opacity: 0.75;
}
.addExpenseInfo{
  position: relative;
  font-size: 0.75em;
  padding: 0.5em;
  opacity: 0.5;
  background-color: var(--color7);
}
.addExpenseInfo div{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em 0.25em 0.5em;
  cursor: pointer;
}

.modal input{
  color: var(--color4);
}
.modalBtns{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  gap: 1em;
  flex-wrap: wrap;
}

.infoData, .deleteAllData{
  padding: 1em;
  border: 1px solid var(--color7);
  height: 300px;
  overflow-y: scroll;
}
.deleteAllData{
  width: 100%;
  height: 200px;
  background-color: var(--color9);
}
.authText{
  display: flex;
  align-items: center;
  justify-content: center;
}
#text-loader-img{
  display: none;
}
.text-loader{
  color: var(--color4);
  opacity: 0.75;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-loader::after {
  margin: 0.15em 0 0 0.5em;
  font-weight: bold;
  content: "-";
  display: inline-block;
  animation: textSpin 0.5s steps(1) infinite;
}
@keyframes textSpin {
  0%   { content: "-"; }
  25%  { content: "/"; }
  66%  { content: "\\"; }
}

.total, .totalPDF{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1em;
  color: var(--color4);
}
.totalPDF{
  justify-content: center;
  background-color: #171717;
  color: #e4e4e4;
  padding: 1em 0 1em 0;
  margin-top: 0;
}
.addItemBtn, .deleteAllBtn, .logoutBtn, .downloadImgBtn{
  width: 8.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.downloadImgBtn{
  background-color: #171717;
  color: #e4e4e4;
  height: 2.5em;
  pointer-events: none;
}
.bottomBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.bBtns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}

#wrapperLogin{
  width: 100%;
  height: 100dvh;
  transform: translateY(-2em);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm{
  width: 300px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  color: var(--color4);
  border: 1px solid var(--color6);
  padding: 2em;
}
.resetData{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.loginInput{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginBtns, .forgotPassword{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}


/* THEME */

:root {
    --color1: #e8e8e8;
    --color2: #111111;
    --color3: #252525;
    --color4: #efefef;
    --color5: #0a0a0a;
    --color6: #151515;
    --color7: #353535;
    --color9: #252525;
    --color8: #111111;
    --color10: #202020;
    --color11: #5f5f5f;
    --color12: #171717;
}
[data-theme="dark"] {
    --color1: #171717;
    --color2: #eeeeee;
    --color3: #dadada;
    --color4: #101010;
    --color5: rgb(238, 238, 238);
    --color6: rgba(0, 0, 0, 0.1);
    --color7: #cacaca;
    --color8: #e0e0e0;
    --color9: #dadada;
    --color10: #e0e0e0;
    --color11: #8f8f8f;
    --color12: #dadada;
}


/* MEDIA-QUERY */

@media screen and (max-width: 900px) {
  .item{
    flex-direction: column;
    height: max-content;
    justify-content: start;
    align-items: start;
  }
  .divider{
    display: block;
  }
  .dataBtns, .itemData{
    height: max-content;
  }
  .dataBtns{
    width: max-content;
  }
  .bottomBar{
    margin-top: 1em;
    flex-direction: column;
  }
  .total, .bBtns{
    align-items: center;
    justify-content: center;
  }
  .total{
    justify-content: center;
  }
  .deleteAllBtn, .addItemBtn, .logoutBtn, .downloadImgBtn{
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .bottomBar, .bBtns{
    flex-direction: column;
    gap: 0;
  }
  .bBtns{
    flex-direction: column-reverse;
  }
  .total{
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .modal{
    width: auto;
    max-width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .dataBtns, .itemData{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: max-content;
  }
  .topBar{
    height: 100%;
  }
  .sortBtns{
    margin-top: 0;
  }
  .loginForm{
    width: 250px;
  }
  .loginBtns{
    flex-direction: column;
  }
  .itemName{
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .topBarBtns{
    flex-direction: column;
  }
  .topBar{
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 370px) {
  .authM{
    max-width: 250px;
  }
  .authText{
    flex-direction: column;
    scale: 0.9;
  }
  .text-loader{
    margin: 0;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
}

/* SMALL-DEVICE */

.small_device{
  width: 100%;
  height: 100dvh;
  display: none;
  padding: 5px;
}
.small_device_card{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color7);
  color: var(--color4);
}
.small_device_text{
  font-weight: bold;
  line-height: normal;
  font-size: clamp(0.1rem, 0.3043rem + 3.4783vw, 3rem);
  color: var(--color4);
}
  
@media only screen and (max-width: 279px) {
  .wrapper, .modalOverlay, #wrapperLogin, .pdfContent{
      display: none;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .small_device{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      color: var(--color4);
  }
}
@media only screen and (max-width: 70px) {
  .small_device_card{
    padding: 5px;
  }
}